.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.homepage {
  display: flex;
}

.section {
  flex: 1;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fancy-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #00AAE0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-section {
  background-image: url('/public/Background1.jpeg');
  background-size: cover;
}

.disclaimer-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.disclaimer-content {
  text-align: center;
}

.accept-button, .decline-button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.accept-button {
  background-color: green;
  color: white;
}

.decline-button {
  background-color: red;
  color: white;
}

.query-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.yes-button, .no-button, .submit-button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.id-input {
  margin-top: 20px;
}

.interactive-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.info-content {
  text-align: center;
}

.back-button, .next-button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: red !important;
}
