.image-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Keeps the image section in the background */
}

.content-container {  /* Ensure the parent has relative positioning */
  position: relative;
  height: 100%;  /* Adjust height as necessary */
}

.medication-container {
  position: absolute;
  right: 20px;  /* Distance from the right side of the parent container */
  top: 20px;  /* Distance from the top of the parent container */
  border: 2px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}
